@font-face {
    font-family: 'Trade Winds';
    font-style: normal;
    font-weight: 400;
    src: local('Trade Winds'), local('TradeWinds'), url(../font/TradeWinds.woff) format('woff');
}

/*nav*/
.navbar .brand {
    font-family: "Trade Winds", "Abel", "Helvetica Neue", Arial, Sans-serif;
    font-size: 26px;
}
.navbar-red-top .nav > .active > a {
    padding-top: 7px;
}
.navbar-red-top .nav > .active {
    border-top: 3px solid #DD4B39;
}

.manage-bar {
    margin-bottom: 20px;
}
.manage-tool {
    margin-top: 15px;
}
.manage-info {
    margin-top: 10px;
}
.alert {
    margin-bottom: 0px;
}
footer {
    /*position: fixed;
    width: 100%;
    bottom: 0px;*/
    padding: 10px 50px;
    background-color: rgba(0, 0, 0, 0.298039);
    border: 1px solid transparent;
}

.content .table td {
    vertical-align: middle;
}


/*
 * jQuery File Upload UI Plugin CSS 6.10
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2010, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */
.fileinput-button {
  position: relative;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  cursor: pointer;
}
