{{define "content"}}
<div class="row-fluid manage-bar">
    <div class="span3 manage-title">
        <h1>{{l .Title}}</h1>
    </div>
    <div class="span5 manage-tool btn-toolbar">
        <a href="/admin/article/add" class="btn">
            <i class="icon-pencil"></i> {{l "Add Article"}}</a>
    </div>
    <div class="span4 manage-info"></div>
</div>

<div class="content">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>{{l "Title"}}</th>
                <th>{{l "Date"}}</th>
                <th>{{l "Operations"}}</th>
            </tr>
        </thead>
        <tbody>
            {{range .Articles}}<tr>
                <td>{{.Title}}</td>
                <td>{{showDate .Date}}</td>
                <td>
                    <a href="/admin/article/edit/{{.ID}}" class="btn"><i class="icon-pencil"></i> {{l "Edit"}}</a>
                    <a href="/admin/article/delete/{{.ID}}" class="btn"><i class="icon-trash"></i> {{l "Delete"}}</a>
                </td>
            </tr>{{end}}
        </tbody>
    </table>

    <div class="pagination pagination-centered">
        <ul>
            {{if .Nav.ShowPrev}}<li><a href="/admin/article/{{.Nav.PrevPageID}}">«</a></li>{{end}}
            {{range .Nav.PageIDs}}{{if .Current}}<li class='active'><a>{{.Id}}</a></li>{{else}}<li><a href='/admin/article/{{.Id}}'>{{.Id}}</a></li>{{end}}{{end}}
            {{if .Nav.ShowNext}}<li><a href="/admin/article/{{.Nav.NextPageID}}">»</a></li>{{end}}
        </ul>
    </div>
</div>
{{end}}
