{{define "content"}}
<form action="/admin/article-{{if .New}}add{{else}}edit?id={{.Article.ID}}{{end}}" method="post">
<div><input type="text" name="title" class="title" id="title" placeholder="Article Title" value="{{if not .New}}{{.Article.Title}}{{end}}" /></div>
<div><input type="text" name="customid" class="title" id="customID" placeholder="Custom ID" value="{{if not .New}}{{.Article.ID}}{{end}}" /></div>
<div>
    <a class="btn" id="upload">Upload File</a>
    <a class="btn" id="preview">Preview</a>
</div>
<hr />
<div><textarea name="content" class="content" id="content" placeholder="Article Content" >{{if not .New}}{{.Article.Content | printf "%s"}}{{end}}</textarea></div>
<div><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></div>
</form>

<!-- Article Preview -->
<div id="modal-preview" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="title"> </h3>
  </div>
  <div class="modal-body"> </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
    <button class="btn btn-primary save">Save changes</button>
  </div>
</div>

<!-- File Upload -->
<div id="modal-upload" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">

  <div class="modal-body">

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

    <ul class="nav nav-tabs">
      <li class="active"><a href="#file-list" data-toggle="tab">File List</a></li>
      <li><a href="#file-upload" data-toggle="tab">Upload List</a></li>
      <li><a href="#file-edit" data-toggle="tab">Edit</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="file-list">
        <link rel="stylesheet" href="/static/css/jquery.fileupload-ui.css">
        <span class="btn btn-primary fileinput-button">
            <i class="icon-upload icon-white"></i>
            <span>Upload</span>
            <input id="file" type="file" name="file" multiple>
        </span>

        <table class="table table-striped">
          <thead>
              <tr>
                  <th>Num</th>
                  <th>Title</th>
                  <th>Operations</th>
              </tr>
          </thead>
          <tbody class="data"> </tbody>
        </table>
        <div class="pageination">
          <ul class="pager"> </ul>
        </div>
      </div>

      <div class="tab-pane" id="file-edit">
        <div class="preview" style="text-align:center;">Preview</div>
        <table class="table table-striped">
          <tbody>
              <tr>
                <th>File Name</th>
                <td><input type="text" class="name" placeholder="File Name" value="" /></td></tr>
              <tr>
                <th>File Description</th>
                <td><input type="text" class="description" placeholder="File Description" value="" /></td></tr>
          </tbody>
        </table>
      </div>

      <div class="tab-pane" id="file-upload">
        <table class="table table-striped">
          <thead>
              <tr>
                  <th>Num</th>
                  <th>File Name</th>
                  <th>Operations</th>
              </tr>
          </thead>
          <tbody class="data"> </tbody>
        </table>
      </div>

    </div>

  </div>

  <div class="modal-footer">
    <div class="message" style="float:left;"></div>
    <button class="btn" data-dismiss="modal">Close</button>
    <button class="btn btn-primary save"> </button>
  </div>
</div>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap-modal.js"></script>
<script src="/static/js/bootstrap-tab.js"></script>
<script src="/static/js/file-upload.js"></script>
<script>
  var files = [];
  var filesUpload = [];
  var fileEdit;
  var uploadUrls =[];

  // setting
  var cS = {
    // upload
    style:  "tab",  // tab | modal

    upload: "#upload", // id of the btn to show upload modal
    uploadModal:  "#modal-upload",  // id of upload modal

    togList: "a[href='#file-list']",
    togEdit: "a[href='#file-edit']",
    togUpload: "a[href='#file-upload']",
    tabEdit: "#file-edit",
    tabList: "#file-list",
    tabUpload: "#file-upload",

    file: "file",
    listData: "#file-list .data",
    listNav: ".pageination .pager",
    uploadData: "#file-upload .data",
    editPreview: "#file-edit .preview",
    editName: "#file-edit .name",
    editDes: "#file-edit .description",

    message: "#modal-upload .message",
    modalMessage: "",

    uploadSave: "#modal-upload .save",

    // preview
    title: "#title",
    content: "#content",

    preview: ".btn#preview",
    previewModal: "#modal-preview",
    previewTitle: "#modal-preview .title",
    previewContent: "#modal-preview .modal-body",
    previewSave: "#modal-preview .save",

    submit: "#submit",

    // common
    urlGetData: "/admin/file-data?pid=",
    urlFile: "/file?key=",
    urlDelete: "/admin/file-delete?id=",
    urlNew: "/admin/file-new-url?num=",
    urlDecode: "/decodeContent",
    urlEdit: "/admin/file-edit?id=",
    numListFiles: {{.Config.AdminFiles}}
  }
 
  $(document).ready(function(){

  });
</script>

{{end}}
