{{define "content"}}
<div class="row-fluid manage-bar">
    <div class="span3 manage-title">
        <h1>{{l .Title}}</h1>
    </div>
    <div class="span5 manage-tool btn-toolbar">
        <a href="/admin/article/add" class="btn">
            <i class="icon-pencil"></i> {{l "Add Page"}}</a>
    </div>
    <div class="span4 manage-info"></div>
</div>

<div class="content">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>{{l "Title"}}</th>
                <th>{{l "Date"}}</th>
                <th>{{l "Operations"}}</th>
            </tr>
        </thead>
        <tbody>
            {{range .Pages}}<tr>
                <td>{{.Title}}</td>
                <td>{{showDate .Date}}</td>
                <td>
                    <a href="/admin/article/edit/{{.ID}}" class="btn"><i class="icon-pencil"></i> {{l "Edit"}}</a>
                    <a href="/admin/article/delete/{{.ID}}" class="btn"><i class="icon-trash"></i> {{l "Delete"}}</a>
                </td>
            </tr>{{end}}
        </tbody>
    </table>

</div>
{{end}}
