{{define "content"}}
{{range .PageData.Article}}
<form action="/article?action=manager&operation=edit&id={{.ID}}" method="post">
<div><input type="text" name="title" class="title" placeholder="Article Title" value="{{.Title}}" /></div>
<div><input type="text" name="customid" class="title" placeholder="Custom ID" value="{{.ID}}" /></div>
<div><a href="#" class="btn" onclick="openWindow('/file?action=upload')" >Upload File</a></div>
<hr />
<div><textarea name="content" class="content" placeholder="Article Content" >{{.Content | html}}</textarea></div>
<div><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></div>
</form>
{{end}}
{{end}}
