{{define "content"}}
<h2>{{.PageSetting.Title}}</h2>
<hr />
<a href="/article?action=manager&operation=add" class="btn"><i class="icon-pencil"></i>Add Article</a>
<table class="table table-striped">
<thead>
    <tr>
        <th>Title</th>
        <th>Data</th>
        <th>Operations</th>
    </tr>
</thead>
<tbody>
{{range .PageData.Article}}
    <tr>
        <td>{{.Title}}</td>
        <td>{{.Date.Format "3:04pm, Mon 2 Jan"}}</td>
        <td>
            <a href="/article?action=manager&operation=edit&id={{.ID}}" class="btn"><i class="icon-pencil"></i> Edit</a>
            <a href="/article?action=manager&operation=delete&id={{.ID}}" class="btn"><i class="icon-trash"></i> Delete</a>
        </td>
    </tr>
{{end}}
</tbody>
</table>
<div class="pageination">
    <ul class="pager">
    {{if .PageSetting.ShowPrev}}
        <li class="previous">
            <a href="?action=manager&pid={{.PageSetting.PrevPageID}}">&larr; Older</a>
        </li>
    {{end}}
    {{if .PageSetting.ShowNext}}
        <li class="next">
            <a href="?action=manager&pid={{.PageSetting.NextPageID}}">Newer &rarr;</a>
        </li>
    {{end}}
    </ul>
</div>
{{end}}
