{{define "sidebar"}}
<div class="sidebar-nav">

{{range .PageData.Widget}}
<div class="{{.Title}} well">
    <h3>{{.Title}}</h3>
    {{.Content}}
</div>
{{end}}

<div class="manager well">
    <h3>Manager</h3>
{{if .PageData.User}}
    <div class="alert alert-success"><h4 class="alert-heading">Welcome You</h4>{{.PageData.User.Nickname}}</div>
    <ul class="nav nav-list">
        {{if .PageData.User.IsAdmin}}
            <li><a href="/article?action=manager">Article Manager</a></li>
            <li><a href="/widget?action=manager">Widget Manager</a></li>
            <li>&nbsp;</li>
        {{end}}
        <li><a href="/user?action=logout">Logout</a></li>
{{else}}
    <ul class="nav nav-list">
        <li><a href="/user?action=login">Login</a></li>
{{end}}
    </ul>
</div>

<div class="meta well">
    <h3>Meta</h3>
    <p><i class="icon-pencil"></i> <a href="http://golang.org" title="Written by Go 1" alt="Written by Go 1">Written by Go 1</a></p>
    <p><i class="icon-user"></i> <a href="http://specode.org" title="Developer: Specode" alt="Developer: Specode">Developer: Specode</a></p>
    <p><i class="icon-eye-open"></i> <a href="http://twitter.github.com/bootstrap/" title="Style: Bootstrap" alt="Style: Bootstrap">Style: Bootstrap</a></p>
    <p><i class="icon-off"></i> <a href="https://developers.google.com/appengine/" title="Powered by Google App Engine" alt="Powered by Google App Engine">Powered by Google App Engine</a></p>
    <p><i class="icon-gift"></i> <a href="https://github.com/specode/Gorbled/" title="Source Code" alt="Source Code">Source Code</a></p>
</div>

</div>
{{end}}
